* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    /* debug */
}

.col {
    background-color: yellow;
    width: calc(100% / 6);
    height: 200px;
    /* debug */
}

/* main */
main {
    display: flex;
}
/* nav */
/* nav-top */
main nav {
    background-color: black;
    width: 15%;
    height: 90vh;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

main nav #nav-top {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

main nav #nav-top #nav-logo {
    height: 40px;
    width: auto;
}

main nav #nav-top #nav-links {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

main nav #nav-top #nav-links li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
}

main nav #nav-top #nav-links li:first-of-type {
    color: white;
}

main nav #nav-top #nav-links li img {
    height: 25px;
    width: auto;

    filter: invert(0.5);
}

main nav #nav-top #nav-links li:first-of-type img {
    filter: invert(0);
}

main nav #nav-top #playlists h2 {
    margin-bottom: 15px;

    font-size: 15px;
    color: white;
}

main nav #nav-top #playlists ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

main nav #nav-top #playlists ul li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

main nav #nav-top #playlists ul li #add-icon {
    background-color: rgba(255, 255, 255, 0.5);
    width: 36px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    color: black;
}
/* /nav-top */

/* nav-bottom */
main nav #nav-bottom {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

main nav #nav-bottom #download {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

main nav #nav-bottom #download img {
    height: 25px;
    width: auto;

    filter: invert(0.5);
}

main nav #nav-bottom #user {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

main nav #nav-bottom #user #user-picture {
    background-color: grey;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: contain;
}

main nav #nav-bottom #user #user-name {
    color: white;
}

main nav #nav-bottom hr {
    border-color: rgba(255, 255, 255, 0.5);
}
/* /nav-bottom */
/* /nav */

/* main-inner */
main #main-inner {
    color: white;
    /* debug */
    background-color: #141922;
    width: 85%;
    height: 90vh;
    padding-top: 110px;

    overflow-y: auto;
}

main #main-inner #pro-upgrade {
    background-color: rgba(0, 0, 0, 0.8);
    width: 85%;
    height: 90px;
    padding-right: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
}

main #main-inner #pro-upgrade button {
    background-color: #080b12;
    padding: 12px 40px;
    border: 1px solid white;
    border-radius: 21px;

    color: white;
}

main #main-inner #type-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;

    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}
/* /main-inner */
/* /main */

/* footer */
footer {
    background-color: darkgreen;
    /* debug */
    height: 10vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer #footer-left {
    background-color: rgb(0, 63, 0);
    width: 20%;
    height: 100%;
    /* debug */
}

footer #footer-center {
    background-color: rgb(0, 63, 0);
    width: 20%;
    height: 100%;
    /* debug */
}

footer #footer-right {
    background-color: rgb(0, 63, 0);
    width: 20%;
    height: 100%;
    /* debug */
}
/* /footer */