* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.row .col {
    width: calc(100% / 6);

    text-align: center;
}

.col img {
    margin-bottom: 20px;

    width: 100%;
    height: auto;
}

.col h4 {
    margin-bottom: 10px;
}

.col h5 {
    color: rgba(255, 255, 255, 0.5);
}

/* main */
main {
    display: flex;
}
/* nav */
/* nav-top */
main nav {
    background-color: black;
    width: 15%;
    height: 90vh;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 20px; */

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

main nav #nav-top {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

main nav #nav-top #nav-logo {
    padding-left: 20px;
    padding-right: 20px;
}

main nav #nav-top #nav-links {
    display: flex;
    flex-flow: column nowrap;
}

main nav #nav-top #nav-links li {
    padding: 5px 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
}

main nav #nav-top #nav-links li:first-of-type {
    padding-left: 15px;
    border-left: 5px solid #bbeb6e;

    color: white;
}

main nav #nav-top #nav-links li img {
    height: 25px;
    width: auto;

    filter: invert(0.5);
}

main nav #nav-top #nav-links li:first-of-type img {
    filter: invert(0);
}

main nav #nav-top #playlists h2 {
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 15px;
    color: white;
}

main nav #nav-top #playlists ul {
    display: flex;
    flex-flow: column nowrap;
}

main nav #nav-top #playlists ul li {
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

main nav #nav-top #playlists ul li #add-icon {
    background-color: rgba(255, 255, 255, 0.5);
    width: 36px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    color: black;
}
/* /nav-top */

/* nav-bottom */
main nav #nav-bottom {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

main nav #nav-bottom #download {
    padding-left: 20px;
    padding-right: 20px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

main nav #nav-bottom #download img {
    height: 25px;
    width: auto;

    filter: invert(0.5);
}

main nav #nav-bottom {
    padding-left: 20px;
    padding-right: 20px;
}

main nav #nav-bottom #user {
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

main nav #nav-bottom #user #user-picture {
    background-color: grey;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: contain;
}

main nav #nav-bottom #user #user-name {
    color: white;
}

main nav #nav-bottom hr {
    border-color: rgba(255, 255, 255, 0.5);
}
/* /nav-bottom */
/* /nav */

/* main-inner */
main #main-inner {
    color: white;
    /* debug */
    background-color: #141922;
    width: 85%;
    height: 90vh;
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;


    overflow-y: auto;
}

main #main-inner #pro-upgrade {
    background-color: rgba(0, 0, 0, 0.8);
    width: 85%;
    height: 100px;
    padding-right: 30px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
}

main #main-inner #pro-upgrade button {
    background-color: #080b12;
    padding: 12px 40px;
    border: 1px solid white;
    border-radius: 21px;

    color: white;
}

main #main-inner #type-list {
    margin-bottom: 40px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;

    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

main #main-inner #recently-played {
    margin-bottom: 40px;
}

main #main-inner #recently-played h2 {
    margin-bottom: 30px;
}

main #main-inner #for-you {
    margin-bottom: 40px;
}

main #main-inner #for-you h2 {
    margin-bottom: 15px;
}

main #main-inner #for-you h3 {
    margin-bottom: 30px;

    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

main #main-inner #most-popular-artists {
    margin-bottom: 40px;
}

main #main-inner #most-popular-artists h2 {
    margin-bottom: 15px;
}

main #main-inner #most-popular-artists h3 {
    margin-bottom: 30px;

    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

main #main-inner #most-popular-artists .row .col img {
    border-radius: 50%;
}
/* /main-inner */
/* /main */

/* footer */
footer {
    background-color: #282828;
    height: 10vh;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    color: white;
    font-size: 0.8em;
}

footer #footer-left {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

footer #footer-left img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

footer #footer-left #track-info {
    margin-right: 40px;
}

footer #footer-left #track-info h5 {
    color: rgba(255, 255, 255, 0.5);
}

footer #footer-left #left-commands {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

footer #footer-center {
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer #footer-center #center-commands {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

footer #footer-center #center-commands i {
    font-size: 20px;
}

footer #footer-center #center-commands i.fa-circle-play {
    font-size: 30px;
}

footer #footer-center #media-player {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

footer #footer-center #media-player #track-bar {
    background-color: rgba(255, 255, 255, 0.2);
    width: 450px;
    height: 4px;
    border-radius: 7px;

    display: flex;
    flex-flow: row nowrap;
}

footer #footer-center #media-player #track-bar #track-bar-listened {
    background-color: #c1c1c1;
    width: 30%;
    height: 100%;
    border-radius: 7px;
}

footer #footer-right {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

footer #footer-right #volume-bar {
    background-color: rgba(255, 255, 255, 0.2);
    width: 120px;
    height: 4px;
    border-radius: 7px;

    display: flex;
    flex-flow: row nowrap;
}

footer #footer-right #volume-bar #volume-bar-active {
    background-color: #c1c1c1;
    width: 30%;
    height: 100%;
    border-radius: 7px;
}
/* /footer */